html, body {
    height: 100%;
}

/*https://colorhunt.co/palette/27374d526d829db2bfdde6ed*/
.ant-menu-light {
    background: white!important;
}

.ant-menu-dark {
    background: #323232!important;
}

.ant-menu-dark .ant-menu-sub {
    background: #323232!important;
}

.swap_number_input {
    padding-left: 0!important;
}
